/* header {
    background-color: rgb(233, 233, 233);
  } */
  
  /* .main-nav {
    display: flex;
    gap: 20px;
    justify-content: center;
  }
   */
  /* .main-nav .nav-link {
    display: block;
    padding: 20px 25px;
  } */


  /* .title{
      text-align: center;
  } */

  /* .add-main {
    margin-top: 20px;
    padding: 20px;
    border: 2px solid red;
    text-align: center;
    align-items: center;
    border-radius: 0.5rem;
    background-color: bisque;
  } */

  /* .add-form {
    display: flex;
    align-items: center;
  } */

  tr:hover {background-color: coral;}