header {
    background-color: rgb(233, 233, 233);
  }
  
  .main-nav {
    display: flex;
    gap: 20px;
    justify-content: center;
  }
  
  .main-nav .nav-link {
    display: block;
    padding: 20px 25px;
  }


  .title{
      text-align: center;
  }
